/* CSS Document */

body{    
    margin: 0 auto
}
#content-wrapper{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1000px;
    box-shadow: 1px 0px 10px 5px lightgray;
    width: 100%;
    background-color: lightgoldenrodyellow;
}
#push{
    height: 50px;
}
header{
    margin: 0;
}
footer{
    flex-shrink: 0;
    margin-left: 2%;
    margin-top: auto;
    color: gray;
}
article{
    display: inline-block;
    float: left;
    flex-wrap: wrap;
    margin: 0 2% auto 2%;
}
figure{
    margin: 2%;
    margin-top: 0;
    width: 30%;
}
figure img{
    width: 100%;
}
figcaption{
    font-size: 1em;
    text-align: justify;
    font-family: 'Bangers', cursive;
}
form{
    width: 100%;
    display: inline-block;
    
    
}
.formwrapper{
    text-align: center;
    margin: 0 10% 0 10%;
}
#pizza{
    float:right;
}
#burger{
    float: left;
}
p{
    font-size: 16px;
    text-align: justify;
    font-family: 'Rajdhani', sans-serif;
}
input{
    text-align: right;
}
.submit{
    font-size: 24px;
    font-family: 'Fredoka One', cursive;
}
.details{
    text-align: left;
    font-size: 14px;
    font-style: italic;
}

.link a {
    justify-content: center;
    display: flex;
    vertical-align: middle;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    width: 100%;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
}
.link {
    width: 16%;
    background-color: navy;
    float: left;
    display: flex;
    align-items: center;
    transition: 0.2s;
}
.link:hover {
    filter: brightness(200%)
}
.home{
    width: 4%;
}
.selected{
    background-color: lightblue;
}
.selected a {
    color: black;
}
.full{
    width: 100%;
}
* {
    box-sizing: border-box;
}
#centered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.fancytext{
    font-family: 'Fredoka One', cursive; 
    font-size: 49px;
    height: auto;
    display: inline;
    -webkit-text-stroke: 1px black;
    color:lightblue;
}
.textcentered{
    text-align: center;
}.menu{
    text-align: right;
    width: 100%;
    align-self: center;
    border-spacing: 0;
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
    background-color: lightgoldenrodyellow;
    padding: 10px;
}
.menuheader{
    font-family: 'Fredoka One', cursive;
    color: red;
    -webkit-text-stroke: 1px black;
    font-size: 24px;
    
}
.menuitem{
    text-align: left;
    
}
td{
    border-bottom: 1px solid black;
}.orderinfo{
    width: 70%;
    margin: auto;
    text-align: center;
    
}
.orderinfo td{
    width:100%;
    text-align: left;
}
.pizzabg{
    background-image: url("../images/pizza-1327883.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.pastabg{
    background-image: url("../images/spaghetti-texture-1197568.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.burgerbg{
    background-image: url("../images/burger-on-a-plate-1328009.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.chickenbg{
    background-image: url("../images/grilled-chicken-legs-1324574.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#banner{
    position: relative;
    margin: 0;
    display:flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/pizza1.jpg");
    background-color: lightgoldenrodyellow;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    max-width: 1000px;
    
}
#banner img{
    width: auto;
    max-height: 150px
}    
@media (max-width: 629px){
    .link{
        height: 80px;
        transition: 0.2s;
    }
}

@media (min-width: 630px) and (max-width: 882px){
    .link{
        height: 60px;
        transition: 0.2s;
    }
}
@media (min-width: 883px) and (max-width:9999px){
    .link{
        height: 45px;
        transition: 0.2s;
    }
}
@media (max-width: 504px){
    #centered{
        width: 90%;
    }
}
